@page
@model ClankyWeb.Pages.NabidkaModel
@{
    ViewData["Title"] = "Nabídka";
    ViewData["Description"] = "Nabídka poskytovaných služeb | Aktivní rekondice";

}
<h1>@ViewData["Title"]</h1>
<section class="odsazeni">
    <div class="container mt-5">
        <div class="row row-cols-xl-2 row-cols-lg-2 row-cols-1">
            <div class="col">
                <h2 id="pobyty">Pobyty</h2>
                <p>Pobytové kurzy mohou být báječným startem či návratem k optimalizaci fungování Vašeho těla i mysli. Jedná se o sportovně-edukační kurzy, které jsou vedeny v přátelském duchu tak, aby Vás jejich atmosféra a nadšení k pohybu provázelo i nadále v běžném životě. Naučíme Vás pracovat s Vašim tělem, což zahrnuje kompenzaci svalových dysbalancí. Dále porozumění benefitů zdravého životního stylu, jehož součástí je pohybová aktivita, strava, spánek a psychická pohoda. Během pobytu je možnost vše konzultovat s odborníky.</p>
                <h3>Místo konání</h3>
                <p><i class="bi bi-geo-alt"></i>  Pension Horalka, Špindlerův Mlýn 5, 54351 Špindlerův Mlýn</p>
                <h3>Nadcházející pobyty</h3>
                <p><i class="bi bi-calendar"></i> Rekondiční pobyt  5. – 9. května 2025<br><i class="bi bi-calendar"></i>  Rekondiční pobyt  30. května – 4. června 2025</p>
            </div>
            <div class="col d-flex align-items-center justify-content-center">
                <img src="~/img/pobyty.webp" alt="pobyty" class="img-fluid break-out" loading="lazy">
            </div>
        </div>
    </div>
</section>

<section class="full-width-bg">
    <div class="container">
        <div class="row row-cols-xl-2 row-cols-lg-2 row-cols-1">
            <div class="col d-flex align-items-center justify-content-center text-center order-2 order-lg-1">
                <img src="~/img/cviceni.webp" alt="Zdravotně-kondiční cvičení" class="img-fluid break-out" loading="lazy">
            </div>
            <div class="col order-1 order-lg-2">
                <h2 id ="cviceni">Zdravotně-kondiční cvičení</h2>
                <p>Cvičení je zaměřeno na rozvoj fyzické zdatnosti. Prohloubení silových, balančních a koordinačních dovedností. Nemalou součástí je zaměření se na prevenci bolesti vertebrogeního charakteru i jiných problematických partií. Cvičení je určeno všem bez rozdílu věku či hendikepu.</p>
                <h3>Místo konání</h3>
                <p><i class="bi bi-geo-alt"></i>  Park Stromovka</p>
                <h3>Nadcházející termíny</h3>
                <p><i class="bi bi-calendar"></i> V červnu každý čtvrtek 15:00-16:00</p>
            </div>
        </div>
    </div>
</section>

<section class="odsazeni">
    <div class="container">
        <div class="row row-cols-xl-2 row-cols-lg-2 row-cols-1">
            <div class="col">
                <h2 id ="krouzek">Sportovní kroužek</h2>
                <p>Tento kroužek je určen všem seniorům, kteří si rádi užívají v podobě aktivního života s rodinou nebo chtějí udržet tempo dnešního života. Předpokladem pro dlouhodobý úspěch je pro nás pravidelnost, a proto kroužek probíhá jedenkrát v každém týdnu. Střídají se zde aktivity jako zdravotní cvičení, nordik walking, cvičení v bazénu a mnoho dalších. Tím je zajištěná pestrost programu, který Vás bude každý týden bavit.</p>
                <h3>Aktivity</h3>
                <ul>
                    <li>Nordik walking</li>
                    <li>Cvičení v bazéně</li>
                    <li>Kruhový trénink</li>
                </ul>
                <h3>Místa konání</h3>
                <p><i class="bi bi-geo-alt"></i>  Park Stromovka<br><i class="bi bi-geo-alt"></i> Divoká Šárka <br><i class="bi bi-geo-alt"></i> Trója </p>
                <h3>Nadcházející termíny</h3>
                <p><i class="bi bi-calendar"></i> V červnu každé úterý 15:00-16:00</p>
            </div>
            <div class="col d-flex align-items-center justify-content-center">
                <img src="~/img/krouzek.webp" alt="Sportovní kroužek" class="img-fluid break-out" loading="lazy">
            </div>
        </div>
    </div>
</section>

<section class="full-width-bg">
    <div class="container">
        <div class="row row-cols-xl-2 row-cols-lg-2 row-cols-1">
            <div class="col d-flex align-items-center justify-content-center text-center order-2 order-lg-1">
                <img src="~/img/konzultace.webp" alt="Konzultace" class="img-fluid break-out" loading="lazy">
            </div>
            <div class="col order-1 order-lg-2">
                <h2 id="konzultace">Konzultace</h2>
                <p>Individuální konzultace jsou setkání mezi konzultantem a klientem, která se zaměřují na individuální potřeby a cíle klienta v oblasti životního stylu, stravy, pohybu nebo zdraví. Během těchto konzultací poskytujeme doporučení na základě specifických informací a potřeb klienta. Důraz je kladen na individuální hodnocení a plánování, aby byly dosaženy optimální výsledky pro konkrétního jednotlivce. Individuální konzultace umožňují klientovi diskutovat o svých cílech, výzvách a preferencích a společně najdeme cestu pro dosažení zlepšení v dané oblasti.</p>
                <p>Individuální konzultace provozujeme online formu z pohodlí Vašeho domova či můžete využít naši službu na rekondičních pobytech.</p>
            </div>
        </div>
    </div>
</section>

<section class="odsazeni">
    <div class="container">
        <div class="row row-cols-xl-2 row-cols-lg-2 row-cols-1">
            <div class="col">
                <h2 id="masaze">Masáže</h2>
                <p>Masáže poskytujeme po celé Praze – ať už u Vás doma, na sportovišti, nebo v zaměstnání. Konkrétní typ masáže vždy domluvíme dle vašich individuálních potřeb.</p>
                <h3>Nabídka Masáží</h3>
                <ul>
                    <li>Sportovní rekondiční masáž</li>
                    <li>Relaxační masáž</li>
                    <li>Baňková masáž zad</li>
                </ul>
            </div>
            <div class="col d-flex align-items-center justify-content-center">
                <img src="~/img/masaz.webp" alt="Masáže" class="img-fluid break-out" loading="lazy">
            </div>
        </div>
    </div>
</section>

<section class="full-width-bg">
    <div class="container">
        <div class="row row-cols-xl-2 row-cols-lg-2 row-cols-1">
            <div class="col d-flex align-items-center justify-content-center text-center order-2 order-lg-1">
                <img src="~/img/firma.webp" alt="Pro firmy" class="img-fluid break-out" loading="lazy">
            </div>
            <div class="col order-1 order-lg-2">
                <h2 id="firmy">Pro firmy</h2>
                <p>Naším cílem je prostřednictvím skupinových zdravotně-kondičních cvičení udržovat a zlepšovat zdravotní stav zaměstnanců. Nabízíme kompenzaci dlouhodobých obtíží přímo v prostorách vaší firmy.</p>
                <h3>Co získáte?</h3>
                <ul>
                    <li>skupinové lekce zdravotního cvičení pro prevenci pohybového aparátu</li>
                    <li>omezení doby nemocenské dovolené z důvodu bolestí zad, krku, karpálních tunelů…</li>
                    <li>bez ztráty času z dojezdové vzdálenosti – my přijedeme za vámi</li>
                    <li>délka terapií dle domluvy (20, 30 nebo 45 min.) v době pauzy nebo kdykoliv jindy</li>
                    <li>edukovaný personál v oblasti tělovýchovy s inovativním přístupem</li>
                </ul>
                <p>V případně zájmu nás neváhejte kontaktovat. Rády si s Vámi domluvíme setkání, kde s Vámi probereme veškeré otázky. </p>
            </div>
        </div>
    </div>
</section>