@page
@model PrivacyModel
@{
    ViewData["Title"] = "Zásady ochrany osobních údajů";
    ViewData["Description"] = "Zásady ochrany osobních údajů | Aktivní rekondice";
}
<h1>@ViewData["Title"]</h1>

<p>Stránka pro popis zásad ochrany osobních údajů webu.</p>
